.popup_3_h3_pop{width:100%; height:100%; position:relative; display:none; background-size:cover; position:absolute;
top:0px; z-index:99}

.s3_move0 {
	position: absolute!important;
    top: 54px!important;
    left: 35%!important;
    width: 30%!important;
}

.s3_move1 {
	position: absolute!important;
    top: 90%!important;
    left: 27%!important;
    width: 17%!important;
}

.s3_move2 {
	position: absolute!important;
    top: 88%!important;
    left: 48%!important;
    width: 24%!important;
}

.s3_move3 {
	position: absolute!important;
    top: 57%!important;
    left: 46%!important;
    width: 38%!important;
}
.s3_move4 {
	position: absolute!important;
    top: 68%!important;
    left: 46%!important;
    width: 38%!important;
}
.s3_move5 {
	position: absolute!important;
    top: 77%!important;
    left: 45.8%!important;
    width: 38%!important;
}

.s3_move6 {
	position: absolute!important;
    top: 86%!important;
    left: 46%!important;
    width: 38%!important;
}

.s3_move7 {
	position: absolute!important;
    top: 78%!important;
    left: 69%!important;
    width: 22%!important;
}

.s3_move8 {
	position: absolute!important;
    top: 93%!important;
    left: 5%!important;
    width: 66%!important;
}

.s3_move9 {
	position: absolute!important;
    top: 88%!important;
    left: 52%!important;
    width: 42%!important;
}



.s1_3btn1{
	position: absolute;
    top: 711px!important;
    left: 1.1%!important;
    width: 5.8%!important;
}

.s1_3btn2{
	position: absolute;
	top: 711px!important;
    left: 7%!important;
    width: 4.7%!important;
}

.s1_3btn3{
	position: absolute;
	top: 711px!important;
    left: 11.8%!important;
    width: 5.8%!important;
}

.s1_3btn4{
	position: absolute;
	top: 690px!important;
    left: 22%!important;
    width: 4.3%!important;
}

.s1_arrowbtn{
	position: absolute;
    top: 666px!important;
    left: 21%!important;
}

.s1_btn1{
	position: absolute;
    top: 669px!important;
    left: 28%!important;
}

.s1_btn2{
	position: absolute;
	top: 669px!important;
	left: 40%!important;
}


.s1_btn3{
	position: absolute;
	top: 669px!important;
	left: 53%!important;
}


.s1_btn4{
	position: absolute;
	top: 669px!important;
	left: 66%!important;
}

.s1_btn5{
	position: absolute;
	top: 669px!important;
	left: 81%!important;
}

